@charset "UTF-8";
.navbar {
	display: flex;
	background-color: #B0C4DE;
	height: 105px;
}
.navbar_logo {
	height: 100px;
	position: absolute;
	top : 5px;
	padding: 0px 0px 5px 0px;
}
.menu_list {
	 display: flex;
	 list-style: none;
	 padding: 8px 12px;
	 position: absolute; 
	 top : 15px;
	 right: 10px;
	 margin: 0px 10px 0px 10px;
	 font-weight : bolder;
}


.km, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B0C4DE;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
li a:hover:not(.active) {
    background-color: #B0C4DE;
}
.active {
    background-color: #B0C4DE;
}

.navbar_brand {
	font-family: 'Jeju Gothic';
	font-size : 30px;
	text-decoration: none;
	color : white;
	position : absolute;
	left: 130px;
	top : 30px;
}



.container {
	width: 1200px;
	max-width : none !important;
}

.card-body {
	margin:auto;
}

.card-header {
	justify-content: center;
}

.bg-primary {
	opacity : 1;
}