@charset "UTF-8";

h1{
	color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
		li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
		li a.active {
    background-color: #4CAF50;
    color: white;
}
		li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
		header, nav, aside, section{
		border:1px solid #999;
		margin: 5px;
		padding: 10px;
}
		header{
		height:50px;
		background-color: orange;
}

		menu {
		float: left;
		width: 300px;
		height: 500px;
}
		aside{
		width: 200px;
		height: 200px;
		}
