@charset "UTF-8";
.navbar-brand {
	font-family: 'Jeju Gothic';
	font-size : 25px;
	text-decoration: none;
	color : white;
	font-weight: bold;
}

.navbar {
	background-color : #B0C4DE;
}

.nav-link {
	font-family: 'Jeju Gothic';
	font-size : 20px;
	text-decoration: none;
	color : white;
	padding : 10px 20px 0px 15px;
}

.pageMove {
	font-family: 'Jeju Gothic';
	font-size : 18px;
	text-decoration: none;
	color : white;
}

#navbarDropdown {
	font-family: 'Jeju Gothic';
	font-size : 20px;
	text-decoration: none;
	color : white;
	padding : 10px 20px 0px 15px;
}

.bg-right {
	border: 1px solild #e3e3ff;
	background: linear-gradient(to right, #93AEDE, #93AEDE);
	animation: animate1 2s linear infinite;
	border-radius : 13px;
	width: 1295px; height: 95px;
	padding: 10px 25px;
	font-size: 24px;
	letter-spacing:2px;
	text-decoration: none;
	box-shadow: 0 20px 50px rgba(135, 206, 250, 0.5);
	overflow: hidden;
	content: '';
}

h1 {
	color : white;
}