@charset "UTF-8";
.header {
	display: flex;
	background-color: #B0C4DE;
	height: 105px;
}
.logo {
	height: 100px;
	padding: 7px 12px;
}
.menu_list {
	 display: flex;
	 list-style: none;
	 padding: 8px 12px;
	 position: absolute;
	 right :100px;
	 top : 17px;	 
}
.navbar_brand, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B0C4DE;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
li a:hover:not(.active) {
    background-color: #B0C4DE;
}
.active {
    background-color: #B0C4DE;
}





    
